DATABASE_URL=sqlite:///epic_events.db
# JWT Secret (générez une clé sécurisée unique)
# Utilisez : python -c "import secrets; print(secrets.token_urlsafe(32))"
JWT_SECRET_KEY=4myM80hXFDsc00-qKZ0MCl2mc0t8nX9S0OvPqVv4KUc
SENTRY_DSN=
ENVIRONMENT=development